@page "/login"
@using Frontend.Services
@inject NavigationManager Navigation
@inject IAuthService AuthService

<div class="fullscreen-bg">
    <div class="login-card">
        <h2>Log in</h2>

        @if (!string.IsNullOrWhiteSpace(Error))
        {
            <p class="error">@Error</p>
        }

        <input placeholder="Email" @bind="Email" />
        <input type="password" placeholder="Hasło" @bind="Password" />
        <button @onclick="LoginUser">Login</button>

        <a href="#">Forgot your password?</a>
    </div>
</div>

@code {
    string Email = "";
    string Password = "";
    string Error = "";

    private async Task LoginUser()
    {
        var success = await AuthService.Login(Email, Password);
        if (!success)
        {
            Error = "Niepoprawne dane logowania lub email niezweryfikowany.";
        }
        else
        {
            Navigation.NavigateTo("/panel");
        }
    }
}